section.l-index-news
  .l-container
    .block__news
      +title('Новости')
      .block__news-main
        .block__news-left 
          .block__news-card 
            .block__news-img
              a(href="#")
                picture
                  source(
                    srcset="https://via.placeholder.com/140x155",
                    media="(max-width: 414px)"
                  )
                  img(src="https://via.placeholder.com/620x290")
              .block__news__img-date
                include ../../public/images/icons/calendar-detail_news.svg
                span 01 июня, 2020

            .block__news-title
              a(href="#") Итоги Международного конкурса «Надежда»

            .block__news-text
              span 24 апреля в Сибирском государственном институте искусств имени Дмитрия Хворостовского состоялось Торжественное закрытие XII Международного музыкально-театрального конкурса-фестиваля «Надежда». На церемонии закрытия...
              .more
                a(href="#") Подробнее1
                include ../components/icons/dropdown-right.svg

        .swiper-container-mobile__news
          .swiper-wrapper
            .swiper-slide
              .block__news-card
                .block__news-img
                  a(href="#")
                    picture
                      source(
                        srcset="https://via.placeholder.com/140x155",
                        media="(max-width: 480px)"
                      )
                      img(src="https://via.placeholder.com/620x290")
                  .block__news__img-date
                    include ../../public/images/icons/calendar-detail_news.svg
                    span 01 июня, 2020

                .block__news-title
                  a(href="#") Итоги Международного конкурса «Надежда»

            .swiper-slide
              .block__news-card
                .block__news-img
                  a(href="#")
                    picture
                      source(
                        srcset="https://via.placeholder.com/140x155",
                        media="(max-width: 480px)"
                      )
                      img(src="https://via.placeholder.com/620x290")
                  .block__news__img-date
                    include ../../public/images/icons/calendar-detail_news.svg
                    span 01 июня, 2020

                .block__news-title
                  a(href="#") Итоги Международного конкурса «Надежда»

            .swiper-slide
              .block__news-card
                .block__news-img
                  a(href="#")
                    picture
                      source(
                        srcset="https://via.placeholder.com/140x155",
                        media="(max-width: 480px)"
                      )
                      img(src="https://via.placeholder.com/620x290")
                  .block__news__img-date
                    include ../../public/images/icons/calendar-detail_news.svg
                    span 01 июня, 2020

                .block__news-title
                  a(href="#") Итоги Международного конкурса «Надежда»

          .swiper-pagination

        .block__news-right
          .block__news-content
            .block__news-row
              .block__news__content-date
                span 01 июня, 2020
              .block__news__content-title
                a(href="#") Итоги Международного конкурса «Надежда»
              .block__news__content-text
                span 24 апреля в Сибирском государственном институте искусств имени Дмитрия Хворостовского состоялось Торжественное закрытие...
            .block__news-row
              .block__news__content-date
                span 01 июня, 2020
              .block__news__content-title
                a(href="#") Итоги Международного конкурса «Надежда»
              .block__news__content-text
                span 24 апреля в Сибирском государственном институте искусств имени Дмитрия Хворостовского состоялось Торжественное закрытие...
            .block__news-row
              .block__news__content-date
                span 01 июня, 2020
              .block__news__content-title
                a(href="#") Итоги Международного конкурса «Надежда»
              .block__news__content-text
                span 24 апреля в Сибирском государственном институте искусств имени Дмитрия Хворостовского состоялось Торжественное закрытие...
